/*************reset*********************/
* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display: block;
}

a {
  color: inherit;
  word-wrap: break-word;
  text-decoration: none;
}

ul, li, dl, dt, dd {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

button {
  border: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

input, textarea {
  outline-color: #61a6c6;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: #36454d;
  font-family: 'Hind Siliguri',YakuHanJP, "Noto Sans Japanese", sans-serif;
}

body {
  letter-spacing: 0.05em;
  line-height: 1.75;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.pc {
  display: none;
}

@media screen and (min-width: 780px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}

@font-face {
  font-family: 'ionicons';
  src: url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff");
}

.edit-post-visual-editor {
  font-family: 'Hind Siliguri', "Noto Sans Japanese", sans-serif !important;
}

.edit-post-visual-editor h2 {
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: .8em 0 .5em;
  font-size: 2em;
  line-height: 1.3;
}

.edit-post-visual-editor h2::before, .edit-post-visual-editor h2::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
}

.edit-post-visual-editor h2::before {
  top: 0;
  height: 4px;
  border-radius: 4px;
  background-color: #61a6c6;
}

.edit-post-visual-editor h2::after {
  bottom: 0;
  height: 2px;
  background-color: #ccc;
}

.edit-post-visual-editor h3 {
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: 1.6em;
  line-height: 1.3;
}

.edit-post-visual-editor h3::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  border-radius: 5px;
  background-color: #61a6c6;
  content: "";
}

.edit-post-visual-editor p, .edit-post-visual-editor ul, .edit-post-visual-editor ol {
  margin: 1.5em 0;
  margin-bottom: 1.75em;
  font-size: 1em;
  line-height: 1.75;
}

.edit-post-visual-editor a {
  color: #3F87AA;
  text-decoration: underline;
}

.edit-post-visual-editor a:hover {
  text-decoration: none;
}

.edit-post-visual-editor figcaption {
  color: #666;
  font-size: .85em;
}

.edit-post-visual-editor pre[class*="language-"] {
  font-size: 0.85em;
}

.edit-post-visual-editor code:not([class*="language-"]) {
  padding: 0.2em;
  background-color: #333;
  color: #fff;
  font-size: 0.9em;
  border-radius: 5px;
}

.edit-post-visual-editor .code {
  display: block;
  margin: 1em 0;
  padding: 1em;
  background-color: #333;
  color: #fff;
  font-size: 0.9em;
  overflow: scroll;
}

.edit-post-visual-editor .code::-webkit-scrollbar {
  height: 10px;
  background: #ccc;
}

.edit-post-visual-editor .code::-webkit-scrollbar-corner {
  background: #ccc;
}

.edit-post-visual-editor .code::-webkit-scrollbar-thumb {
  background: #666;
}

.edit-post-visual-editor .works-definition {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.75;
}

.edit-post-visual-editor .works-definition dt {
  flex-basis: 7em;
  font-weight: bold;
  position: relative;
  padding: calc(1em - 4px) 1em 1em;
}

.edit-post-visual-editor .works-definition dt::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px 0 0 50px;
  background-color: #61a6c6;
  content: "";
}

.edit-post-visual-editor .works-definition dd {
  flex-basis: calc(100% - 7em);
  position: relative;
  padding: calc(1em - 4px) 1em 1em;
}

.edit-post-visual-editor .works-definition dd::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 0 50px 50px 0;
  background-color: #daecf2;
  content: "";
}

.edit-post-visual-editor p, .edit-post-visual-editor ul, .edit-post-visual-editor ol {
  margin: 1.5em 0;
  margin-bottom: 1.75em;
  font-size: 1em;
  line-height: 1.75;
}

.edit-post-visual-editor a {
  color: #3F87AA;
  text-decoration: underline;
}

.edit-post-visual-editor a:hover {
  text-decoration: none;
}

@media screen and (min-width: 780px) {
  .edit-post-visual-editor .worksdefinition dt,
  .edit-post-visual-editor .worksdefinition dd {
    padding: calc(1.3em - 4px) 1em 1.3em;
  }
}

.edit-post-visual-editor .editor-post-title__block {
  background-image: linear-gradient(to bottom, rgba(97, 166, 198, 0) 0%, rgba(97, 166, 198, 0) 45%, rgba(97, 166, 198, 0.1) 100%);
}

.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
  width: 100%;
  font-size: 2rem;
  text-decoration: none;
  color: #61a6c6;
  font-family: inherit;
  line-height: 1.4;
  text-align: center;
}

.edit-post-visual-editor .wp-block {
  width: 100%;
  max-width: 100%;
}

.edit-post-visual-editor .block-editor-block-list__block {
  margin: 0;
}

.edit-post-visual-editor .block-editor-block-list__block .block-editor-block-list__block-edit {
  margin: 0;
}

.edit-post-visual-editor .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-drop-zone {
  margin: 0;
}

.edit-post-visual-editor .works-definition .editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

.edit-post-visual-editor .works-definition [data-type="custom/term"] {
  flex-basis: 7em;
  font-weight: bold;
  padding: 0;
}

.edit-post-visual-editor .works-definition .wp-block-custom-term {
  flex-basis: 100%;
  position: relative;
  padding: calc(1em - 4px) 1em 1em;
}

.edit-post-visual-editor .works-definition .wp-block-custom-term::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px 0 0 50px;
  background-color: #61a6c6;
  content: "";
}

.edit-post-visual-editor .works-definition [data-type="custom/description"] {
  flex-basis: calc(100% - 7em);
  padding: 0;
}

.edit-post-visual-editor .works-definition .wp-block-custom-description {
  flex-basis: 100%;
  position: relative;
  padding: calc(1em - 4px) 1em 1em;
}

.edit-post-visual-editor .works-definition .wp-block-custom-description::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 0 50px 50px 0;
  background-color: #daecf2;
  content: "";
}

.edit-post-visual-editor .about__lead {
  text-align: center;
}

.edit-post-visual-editor .about__block h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 40px;
  font-size: 2rem;
}

.edit-post-visual-editor .about__block h2:first-letter {
  color: #61a6c6;
  font-size: 1.5em;
}

.edit-post-visual-editor .about__block h2::before {
  display: block;
  position: absolute;
  left: 0;
  top: auto;
  bottom: -2px;
  width: 100%;
  background-color: #61a6c6;
  content: "";
}

.edit-post-visual-editor .about__block h2::after {
  display: none;
}

.edit-post-visual-editor .about__block h3 {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding: .2em;
  background-color: #fff;
  font-size: 1.5rem;
  transform: translate(1.5em, -60%);
}

.edit-post-visual-editor .about__block h3::before {
  display: inline-block;
  position: relative;
  top: 2px;
  width: auto;
  height: auto;
  margin-right: .3em;
  background-color: transparent;
  color: #61a6c6;
  font-family: "ionicons";
}

.edit-post-visual-editor .about__block h3::first-letter {
  color: #61a6c6;
}

.edit-post-visual-editor .about__block .skill__content {
  position: relative;
  border: 2px solid #61a6c6;
  border-radius: 5px;
  margin: 0 3%;
}

.edit-post-visual-editor .about__block .skill__content .block-editor-block-list__block {
  padding: 0;
}

.edit-post-visual-editor .about__block .skill__content ul {
  margin: 0;
  padding: 40px 30px;
}

.edit-post-visual-editor .about__block .skill__content ul li {
  padding-left: 1em;
  color: #61a6c6;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.edit-post-visual-editor .about__block .skill__content ul li + li {
  margin-top: 1em;
}

.edit-post-visual-editor .about__block .skill__content-tools h3::before {
  content: "\f2ad";
}

.edit-post-visual-editor .about__block .skill__content-language h3::before {
  content: "\f271";
}

.edit-post-visual-editor .about__block-row > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

.edit-post-visual-editor .about__block-row > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block {
  flex-basis: 50%;
  padding: 0;
}

.edit-post-visual-editor .about__block-profile .about__block-row > .block-editor-inner-blocks > .block-editor-block-list__layout {
  justify-content: space-between;
}

.edit-post-visual-editor .about__block-profile .about__block-row > .block-editor-inner-blocks > .block-editor-block-list__layout .block-editor-block-list__block:nth-child(1) {
  flex-basis: 40%;
  flex-shrink: 0;
}

.edit-post-visual-editor .about__block-profile .about__block-row > .block-editor-inner-blocks > .block-editor-block-list__layout .block-editor-block-list__block:nth-child(2) {
  flex: 1 0 60%;
  padding-left: 5%;
}

.edit-post-visual-editor .about__block [data-type="custom/term"] {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding: .2em .5em;
  background-color: #61a6c6;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
  width: auto;
}

.edit-post-visual-editor .about__block [data-type="custom/term"]::after {
  display: block;
  position: absolute;
  right: -18px;
  bottom: -18px;
  border: 18px solid transparent;
  border-top: 18px solid #61a6c6;
  transform: rotate(45deg);
  content: "";
}

.edit-post-visual-editor .about__block [data-type="custom/term"] [data-block] {
  margin: 0;
}

.edit-post-visual-editor .about__block [data-type="custom/description"] {
  padding-left: 1em;
  padding-bottom: 1.5em;
  font-size: 1rem;
  line-height: 1.3;
}

.edit-post-visual-editor .about__block [data-type="custom/description"]:last-of-type {
  padding-bottom: 0;
}

.edit-post-visual-editor .about__block [data-type="custom/description"] [data-block] {
  margin: 0;
}
