@charset "UTF-8";
.form_inner {
  margin-bottom: 50px;
}

.form_label {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
}

.form_label.required::after {
  display: inline-block;
  margin-left: .5em;
  padding: .5em .3em .3em;
  border-radius: 5px;
  background-color: #FF7656;
  color: #fff;
  font-size: .85em;
  line-height: 1;
  content: "必須";
}

.form_item {
  margin-bottom: 20px;
}

.form_item input[type="text"], .form_item textarea {
  padding: 0.5em;
  border: 1px solid #daecf2;
  border-radius: 5px;
}

.form_item input[type="text"][name="name"], .form_item textarea[name="name"] {
  width: 15em;
  max-width: 100%;
}

.form_item input[type="text"][name="email"], .form_item textarea[name="email"] {
  width: 100%;
}

.form_item textarea {
  width: 100%;
  height: 10em;
}

.form_btn_body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #ccc;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  pointer-events: none;
}

.form_btn_body::after {
  display: block;
  position: absolute;
  right: 4%;
  top: 50%;
  font-size: 1em;
  font-weight: bold;
  font-family: "ionicons";
  transform: translateY(-50%);
  content: "\f125";
}

.form_btn_body.action {
  background-color: #62D390;
  pointer-events: all;
}

.form_btn_body.btn_return {
  pointer-events: all;
}

.form_btn_body.btn_return::after {
  right: 0;
  left: 4%;
  width: 1em;
  content: "\f124";
}

.form_complete_txt {
  font-size: 1.1rem;
  line-height: 1.75;
  text-align: center;
}

.form_complete_txt p + p {
  margin-top: 1em;
}

.contact_lead {
  margin-bottom: 40px;
  line-height: 1.75;
}

.mwform-radio-field {
  margin-bottom: 10px;
}

.mwform-radio-field input {
  position: absolute;
  opacity: 0;
}

.mwform-radio-field-text {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
}

.mwform-radio-field-text::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #daecf2;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #fff 0%, #daecf2 100%);
  transform: translateY(-50%);
  content: "";
}

.mwform-radio-field-text::after {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, rgba(97, 166, 198, 0.7) 0%, #61a6c6 100%);
  transform: translate(25%, -50%);
  content: "";
}

input[type="radio"]:checked + .mwform-radio-field-text::after {
  display: block;
}

.mw_wp_form .error {
  padding-top: 0.5em;
  color: #FF7656;
}

@media screen and (min-width: 780px) {
  .form_area {
    max-width: 750px;
    margin: 0 auto;
  }
  .form_inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  .form_label {
    width: 12em;
    margin-bottom: 15px;
  }
  .form_item {
    width: calc(100% - 12em);
    margin-bottom: 40px;
  }
  .form_btn {
    display: flex;
    margin: 0 auto;
    max-width: 600px;
  }
  .form_btn_body {
    width: 48%;
    margin: 0 auto;
    cursor: pointer;
  }
  .form_btn_body.btn_return {
    margin-bottom: 0;
    margin-right: 4%;
  }
  .form_btn_body.btn_return::before {
    display: none;
  }
  .contact_lead {
    max-width: 750px;
    margin: 0 auto 50px;
  }
}
