@charset "UTF-8";
/*************reset*********************/
* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display: block;
}

a {
  color: inherit;
  word-wrap: break-word;
  text-decoration: none;
}

ul, li, dl, dt, dd {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

button {
  border: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

input, textarea {
  outline-color: #61a6c6;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: #36454d;
  font-size: calc(100vw / 37.5 * 1.4);
  font-family: 'Hind Siliguri', "Noto Sans Japanese", sans-serif;
}

@media screen and (min-width: 780px) {
  html, body {
    font-size: 16px;
  }
}

body {
  letter-spacing: 0.05em;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.pc {
  display: none;
}

/* header */
.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.header_main {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 4%;
}

.site_logo {
  width: 90px;
}

.site_logo svg {
  width: 100%;
  height: 100%;
  fill: #61a6c6;
  stroke: #61a6c6;
  stroke-width: 1px;
}

@media screen and (min-width: 780px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 70px;
  }
  .site_logo {
    width: 120px;
  }
}

/* @media */
.gnav {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}

.gnav_toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #61a6c6;
  pointer-events: all;
}

.gnav_toggle_body {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 3px;
  border-radius: 30px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: background .8s;
}

.gnav_toggle_body::before, .gnav_toggle_body::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: #fff;
  content: "";
}

.gnav_toggle_body::before {
  transform: rotate(0) translateY(-8px);
  animation-name: barToggleTopReverse;
  animation-duration: .8s;
  animation-direction: reverse;
}

.gnav_toggle_body::after {
  transform: rotate(0) translateY(8px);
  animation-name: barToggleBottomReverse;
  animation-duration: .8s;
  animation-direction: reverse;
}

.gnav.open {
  pointer-events: all;
}

.gnav.open .gnav_toggle_body {
  background-color: transparent;
}

.gnav.open .gnav_toggle_body::before {
  top: 0;
  transform: rotate(-45deg);
  animation-name: barToggleTop;
  animation-duration: .8s;
  animation-direction: normal;
}

.gnav.open .gnav_toggle_body::after {
  bottom: 0;
  transform: rotate(45deg);
  animation-name: barToggleBottom;
  animation-duration: .8s;
  animation-direction: normal;
}

.gnav.open .gnav_inner {
  background-color: rgba(0, 0, 0, 0.7);
}

.gnav.open .gnav_item {
  transform: rotateY(0);
}

.gnav_inner {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0);
  transition: .8s;
}

.gnav_item {
  transform: rotateY(-120deg);
  transform-origin: 100% 0 0;
  transition: transform .8s;
}

.gnav_item:nth-child(1) {
  transition-delay: 0.1s;
}

.gnav_item:nth-child(2) {
  transition-delay: 0.2s;
}

.gnav_item:nth-child(3) {
  transition-delay: 0.3s;
}

.gnav_item:nth-child(4) {
  transition-delay: 0.4s;
}

.gnav_body {
  display: block;
  padding: 20px 4%;
  border-bottom: 1px solid #fff;
  background-color: #61a6c6;
  color: #fff;
  font-size: 1rem;
  line-height: 1.3;
}

.gnav_item:first-child .gnav_body {
  border-top: 1px solid #fff;
}

@keyframes barToggleTop {
  0% {
    transform: rotate(0) translateY(-8px);
  }
  50% {
    top: 0;
    transform: rotate(0) translateY(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg) translateY(0);
  }
}

@keyframes barToggleBottom {
  0% {
    transform: rotate(0) translateY(8px);
  }
  50% {
    bottom: 0;
    transform: rotate(0) translateY(0);
  }
  100% {
    bottom: 0;
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes barToggleTopReverse {
  0% {
    transform: rotate(0) translateY(-8px);
  }
  50% {
    top: 0;
    transform: rotate(0) translateY(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg) translateY(0);
  }
}

@keyframes barToggleBottomReverse {
  0% {
    transform: rotate(0) translateY(8px);
  }
  50% {
    bottom: 0;
    transform: rotate(0) translateY(0);
  }
  100% {
    bottom: 0;
    transform: rotate(45deg) translateY(0);
  }
}

@media screen and (min-width: 780px) {
  .gnav {
    position: static;
    height: 70px;
    pointer-events: all;
  }
  .gnav_toggle {
    display: none;
  }
  .gnav_inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-top: 0;
  }
  .gnav_item {
    transform: rotateY(0);
  }
  .gnav_body {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0.5em 0 0.5em;
    border-bottom: none;
    background-color: transparent;
    color: #36454d;
    font-size: 1rem;
  }
  .gnav_item:first-child .gnav_body {
    border-top: none;
  }
  .gnav_body::after {
    display: block;
    position: absolute;
    left: 0.5em;
    bottom: -0.2em;
    width: calc(100% - 1em);
    height: 2px;
    background-color: #61a6c6;
    transform: scaleX(0);
    transform-origin: left top;
    transition: .5s;
    content: "";
  }
  .gnav_body:hover::after {
    transform: scaleX(1);
  }
  .gnav.open .gnav_inner {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* @media */
.footer {
  padding: 30px;
  background-color: #61a6c6;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.btn_totop {
  position: fixed;
  right: 3%;
  z-index: 100;
}

.totop_body {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(97, 166, 198, 0.8);
  line-height: 55px;
  text-align: center;
}

.totop_body::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  transform: translate(-50%, -25%) rotate(45deg);
  content: "";
}

.cookie_box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 40px 10px 10px;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  z-index: 9999;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
}

.cookie_box_close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

.cookie_box_close::before, .cookie_box_close::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 100%;
  background-color: #333;
  content: "";
}

.cookie_box_close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cookie_box_close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cookie_box a {
  text-decoration: underline;
}

@media screen and (min-width: 780px) {
  .cookie_box {
    padding: 30px 0;
  }
  .cookie_box_close {
    margin: 30px;
  }
}

/* @media */
/* パンくず */
.breadcrumb {
  width: 93.75%;
  margin: 0 auto;
  padding: 10px 0;
}

.breadcrumb li {
  display: inline-block;
  position: relative;
  margin-right: 1.5em;
  line-height: 1.3;
}

.breadcrumb li a {
  color: #3F87AA;
  text-decoration: underline;
}

.breadcrumb li::after {
  display: block;
  position: absolute;
  right: -1em;
  top: 0;
  content: ">";
}

.breadcrumb li:last-child::after {
  display: none;
}

@media screen and (min-width: 965px) {
  .breadcrumb {
    width: 960px;
    padding: 15px 0;
  }
  .breadcrumb li a:hover {
    text-decoration: none;
  }
}

/* @media */
/* main */
.section {
  padding: 50px 0;
}

.section:nth-of-type(even),
.blog .section,
.category .section {
  background-color: rgba(97, 166, 198, 0.1);
}

.fadeBlock {
  opacity: 0;
  transition: .8s;
}

.fadeBlock.show {
  opacity: 1;
}

.inner {
  width: 93.75%;
  max-width: 960px;
  margin: 0 auto;
}

.cont_ttl {
  margin-bottom: 30px;
  color: #61a6c6;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.btn {
  width: 100%;
}

.btn_body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #61a6c6;
  color: #fff;
  font-size: 1.1rem;
}

.btn_body::after {
  display: block;
  position: absolute;
  right: 4%;
  top: 50%;
  font-size: 1em;
  font-weight: bold;
  font-family: "ionicons";
  transform: translateY(-50%);
  content: "\f125";
}

.btn_return::after {
  right: 0;
  left: 4%;
  content: "\f124";
}

.btn_more {
  margin: 30px auto 0;
}

.btn_top {
  width: 93.75%;
  margin: 50px auto;
}

.kv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(97, 166, 198, 0) 0%, rgba(97, 166, 198, 0) 45%, rgba(97, 166, 198, 0.2) 100%);
  line-height: 1;
  z-index: 1;
}

.kv::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/wave_kv.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 150%;
  content: "";
}

.page_ttl {
  width: 100%;
  padding: 30px 0;
  color: #61a6c6;
  font-size: 2.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

.page_ttl .sub_title {
  display: block;
  font-size: .4em;
  font-weight: normal;
}

.contents {
  font-size: 1rem;
  line-height: 1.75;
}

.contents h2 {
  margin-bottom: 1.3em;
  padding-left: 1%;
  border-left: 6px solid #61a6c6;
  font-size: 1.5rem;
  line-height: 1.3;
}

.contents h3 {
  margin-bottom: 1em;
  font-size: 1.2rem;
  line-height: 1.3;
}

.contents p, .contents ul, .contents ol {
  margin-bottom: 1.75em;
}

.contents p + h3, .contents p + h2 {
  margin-top: 2.6em;
}

.contents a {
  color: #3F87AA;
  text-decoration: underline;
}

@media screen and (min-width: 780px) {
  .main {
    padding-top: 70px;
  }
  .section {
    padding: 100px 0;
  }
  .cont_ttl {
    margin-bottom: 60px;
    font-size: 2.5rem;
  }
  .btn {
    max-width: 340px;
  }
  .btn_body {
    transition: .5s;
    border: 1px solid #61a6c6;
    background-color: #fff;
    color: #61a6c6;
    overflow: hidden;
    z-index: 1;
  }
  .btn_body::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 500%;
    background-color: #61a6c6;
    transform: rotate(10deg) scaleX(0) translate(0, -25%);
    transform-origin: left top;
    transition: .6s;
    z-index: -1;
    content: "";
  }
  .btn_body:hover {
    color: #fff;
  }
  .btn_body:hover::before {
    transform: rotate(10deg) scaleX(1) translate(0, -25%);
  }
  .btn_more {
    margin-top: 60px;
  }
  .btn_top {
    width: 300px;
    margin: 50px auto 100px;
  }
  .kv .wave {
    top: 0;
  }
  .kv.page_kv {
    height: 200px;
  }
  .page_ttl {
    padding: .3em 0;
    font-size: 4rem;
  }
  .contents a:hover {
    text-decoration: none;
  }
}

.kv_home {
  width: 100%;
  overflow: hidden;
}

.kv_home .site_title {
  position: relative;
  width: 100%;
  padding: 15px 0 20px;
  color: #61a6c6;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  line-height: 1;
  text-align: center;
  z-index: 1;
}

.kv_home .sub_title {
  display: block;
  font-size: .4em;
  font-weight: normal;
}

@media screen and (min-width: 780px) {
  .kv_home {
    height: 360px;
  }
  .kv_home .site_title {
    font-size: 7rem;
  }
}

.wave {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.bubble {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, rgba(97, 166, 198, 0.2) 0%, transparent 100%);
  box-shadow: 5px 5px 10px rgba(97, 166, 198, 0.1);
  opacity: 0;
  transform: translateY(0);
  animation-name: bubble;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  z-index: 10;
}

.bubble.bubble01 {
  animation-delay: 0.3s;
}

.bubble.bubble02 {
  animation-delay: 0.6s;
}

.bubble.bubble03 {
  animation-delay: 0.9s;
}

.bubble.bubble04 {
  animation-delay: 1.2s;
}

.bubble.bubble05 {
  animation-delay: 1.5s;
}

.bubble.bubble06 {
  animation-delay: 1.8s;
}

.bubble.bubble07 {
  animation-delay: 2.1s;
}

.bubble.bubble08 {
  animation-delay: 2.4s;
}

.bubble.bubble09 {
  animation-delay: 2.7s;
}

.bubble.bubble010 {
  animation-delay: 3s;
}

.bubble.bubble011 {
  animation-delay: 3.3s;
}

.bubble.bubble012 {
  animation-delay: 3.6s;
}

.bubble.bubble013 {
  animation-delay: 3.9s;
}

.bubble.bubble014 {
  animation-delay: 4.2s;
}

.bubble.bubble015 {
  animation-delay: 4.5s;
}

.bubble.bubble016 {
  animation-delay: 4.8s;
}

.bubble.bubble017 {
  animation-delay: 5.1s;
}

.bubble.bubble018 {
  animation-delay: 5.4s;
}

.bubble.bubble019 {
  animation-delay: 5.7s;
}

.bubble.bubble020 {
  animation-delay: 6s;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: .7;
  }
  75% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
