// アクアグレイ
$mainColor: #61a6c6;
$accentColor: #62D390;

$bgColor: rgba(#61a6c6,0.1);
$darkColor: #61a6c6;

$blueGray: #daecf2;
$gray: #ccc;
$black: #333;

$textColor: #36454d;
$linkColor: #3F87AA;
$errColor: #FF7656;


$ttlFont: 'Poppins', sans-serif;
$enFont: 'Poppins', sans-serif;
$pixelTtlFont: 'Press Start 2P', sans-serif;
$pixelFont: 'PixelMplus10', sans-serif;
