
/* header */
.header{
  width: 100%;
	height: 50px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0,0,0,.1);
	&_main{
		display: flex;
    align-items: center;
		position: relative;
		height: 100%;
	  padding: 0 4%;
	}
}

.site_logo{
	width: 90px;
	svg{
		width: 100%;
		height: 100%;
    fill: $mainColor;
		stroke: $mainColor;
    stroke-width: 1px;
	}
}

@media screen and (min-width:780px){
	.header{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000;
		height: 70px;
	}
	.site_logo{
		width: 120px;
	}
}/* @media */

.gnav{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	pointer-events: none;
	z-index: 9999;
	&_toggle{
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 50px;
		background-color: $darkColor;
		pointer-events: all;
		&_body{
			position: absolute;
			left: 50%;
			top: 50%;
			width: 24px;
			height: 3px;
			border-radius: 30px;
			background-color: #fff;
			transform: translate(-50%,-50%);
			transition: background .8s;
			&::before,&::after{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: inherit;
				border-radius: inherit;
				background-color: #fff;
				content: "";
			}
			&::before{
				transform: rotate(0) translateY(-8px);
				animation-name: barToggleTopReverse;
				animation-duration: .8s;
				animation-direction: reverse;
			}
			&::after{
				transform: rotate(0) translateY(8px);
				animation-name: barToggleBottomReverse;
				animation-duration: .8s;
				animation-direction: reverse;
			}
		}
	}
	&.open{
		pointer-events: all;
		.gnav_toggle_body{
			background-color: transparent;
			&::before{
				top: 0;
				transform: rotate(-45deg);
				animation-name: barToggleTop;
				animation-duration: .8s;
				animation-direction: normal;
			}
			&::after{
				bottom: 0;
				transform: rotate(45deg);
				animation-name: barToggleBottom;
				animation-duration: .8s;
				animation-direction: normal;
			}
		}
		.gnav_inner{
			background-color: rgba(0,0,0,.7);
  		li{
  			transform: rotateY(0);
  		}
		}
	}
	&_inner{
		width: 100%;
		height: 100vh;
		padding-top: 50px;
		background-color: rgba(0,0,0,0);
		transition: .8s;
    li{
  		transform: rotateY(-120deg);
  		transform-origin: 100% 0 0;
  		transition: transform .8s;
  		@for $i from 1 through 10 {
  		  &:nth-child(#{$i}) {
  		    transition-delay: #{0.1 * $i}s;
  		  }
  		}
      a{
    		display: block;
    		padding: 20px 4%;
    		border-bottom: 1px solid #fff;
    		background-color: $darkColor;
    		color: #fff;
    		font-size: 1rem;
    		line-height: 1.3;
    	}
      &:first-child a{
        border-top: 1px solid #fff;
      }
  	}
	}


}

@keyframes barToggleTop{
	0%{
		transform: rotate(0) translateY(-8px);
	}
	50%{
		top: 0;
		transform: rotate(0) translateY(0);
	}
	100%{
		top: 0;
		transform: rotate(-45deg) translateY(0);
	}
}
@keyframes barToggleBottom{
	0%{
		transform: rotate(0) translateY(8px);
	}
	50%{
		bottom: 0;
		transform: rotate(0) translateY(0);
	}
	100%{
		bottom: 0;
		transform: rotate(45deg) translateY(0);
	}
}
@keyframes barToggleTopReverse{
	0%{
		transform: rotate(0) translateY(-8px);
	}
	50%{
		top: 0;
		transform: rotate(0) translateY(0);
	}
	100%{
		top: 0;
		transform: rotate(-45deg) translateY(0);
	}
}
@keyframes barToggleBottomReverse{
	0%{
		transform: rotate(0) translateY(8px);
	}
	50%{
		bottom: 0;
		transform: rotate(0) translateY(0);
	}
	100%{
		bottom: 0;
		transform: rotate(45deg) translateY(0);
	}
}

@media screen and (min-width:780px){
	.gnav{
		position: static;
		height: 70px;
		pointer-events: all;
		&_toggle{
			display: none;
		}
		&_inner{
			height: 100%;
			padding-top: 0;
      ul{
        display: flex;
  			justify-content: flex-end;
  			align-items: center;
  			height: 100%;
      }
  		li{
  			transform: rotateY(0);
    		a{
    			display: flex;
    			align-items: center;
    			position: relative;
    			padding: 0 0.5em 0 0.5em;
    			border-bottom: none;
    			background-color: transparent;
          color: $textColor;
    			font-size: 1rem;
    			.gnav_item:first-child &{
    				border-top: none;
    			}
    			&::after{
    				display: block;
    				position: absolute;
    				left: 0.5em;
    				bottom: -0.2em;
    				width: calc(100% - 1em);
    				height: 2px;
    				background-color: $mainColor;
    				transform: scaleX(0);
    				transform-origin: left top;
    				transition: .5s;
    				content: "";
    			}
    			&:hover{
    				&::after{
    					transform: scaleX(1);
    				}
    			}
    		}
  		}
		}
		&.open{
			.gnav_inner{
				background-color: rgba(0,0,0,0);
			}
		}
	}
}/* @media */
