//article
.article{
	&_item{
		max-width: 460px;
	  margin: 0 auto 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 2px 2px 5px rgba(#000,.1);
		overflow: hidden;
	}

	&_body{
		display: block;
	  padding: 15px;
	}

	&_doc{
	  position: relative;
	  padding-top: 10px;
	}

	&_ttl{
	  margin-bottom: 10px;
	  font-size: fs(18);
	  line-height: 1.2;
	}

	&_date{
	  display: block;
	  margin-bottom: 10px;
	  width: 100%;
	  font-size: fs(13);
	  text-align: right;
	}

	&_content{
	  font-size: 1rem;
	  line-height: 1.75;
	}
}

.side_box{
	width: 100%;
  margin-bottom: 40px;
  text-align: center;
	overflow: hidden;
  #twitter-widget-0{
    border: 1px solid $gray !important;
    width: 93.75% !important;
    max-width: 430px !important;
  }
	ul{
		li{
			&:first-child{
				a{
					border-top: 1px solid $gray;
				}
			}
			a{
				display: block;
			  position: relative;
			  padding: 15px 5%;
			  border-bottom: 1px solid $gray;
			  font-size: 1rem;
			  line-height: 1;
			  text-align: left;
			  &::after{
			    display: block;
			    position: absolute;
			    right: 3%;
			    top: 34%;
			    width: 0;
			    height: 0;
			    border: 7px solid transparent;
			    border-left: 7px solid $darkColor;
					content: "";
			  }
			}
		}
	}
}

.sub_contents{
	padding-top: 40px;
}

.pagination{
	display: flex;
	justify-content: center;
  margin-top: 50px;
	line-height: 1;
  .page-numbers{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: p2v(80);
		height: p2v(80);
		margin:0 5px;
    border: solid 1px $mainColor;
		border-radius: 2px;
		background-color: #fff;
		font-size: fs(20);
		text-decoration: none;
		&::after{
			color: $darkColor;
			font-weight: bold;
			font-family: "ionicons";
			text-align: center;
		}
		&.prev{
			color: transparent;
			&::after{
				content: "\f124";
			}
		}
		&.next{
			color: transparent;
			&::after{
				content: "\f125";
			}
		}
		&.current{
			background: $mainColor;
			color: #fff;
		}
  }
}
.noPost{
	width: 93.75%;
  margin: 0 auto;
}

@media screen and (min-width:780px){
	.article{
		&_list{
	    display: flex;
      justify-content: center;
			align-items: stretch;
      flex-wrap: wrap;
	  }

	  &_item{
	    width: 32%;
	    margin-left: 2%;
	    margin-bottom: 30px;
			&:nth-child(3n+1){
		    margin-left: 0;
		  }
	  }

	  &_body{
			padding: 0;
			transition: .5s;
			&:hover{
				opacity: 0.7;
			}
	  }

	  &_thumb{
	    width: 100%;
	    height: 150px;
	    margin-bottom: 15px;
	    overflow: hidden;
	  }

	  &_doc{
	    width: 100%;
			padding: 10px 5% 15px;
		}
		&_ttl{
			font-size: fs(20);
		}
	}

  .sub_contents{
    width: 93.75%;
    max-width: 960px;
    margin: 0 auto;
    font-size: 0;
  }

  .side_box{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    &:nth-child(even){
      margin-left: 4%;
    }
    ul{
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      li{
        transition: .3s;
        &:hover{
          background-color: $mainColor;
          color: #fff;
          a::after{
            border-left-color: #fff;
          }
        }
      }
    }
  }

  .pagination{
    margin-top: 50px;
    .page-numbers{
			width: 40px;
			height: 40px;
      transition: .3s;
      &:hover{
        background-color: $mainColor;
        border-color: $mainColor;
        color: #fff;
      }
			&.next,&.prev{
				&:hover{
					color: transparent;
					&::after{
						color: #fff;
					}
				}
			}
    }
    .current{
      padding:5px 8px;
    }
  }

}/* @media */

/* single post */
.post{
	&_area{
	  position: relative;
	  width: 100%;
	  max-width: 960px;
	  margin: 0 auto 50px;
		background-color: #fff;
	}
	&_header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		min-height: p2v(500);
		overflow: hidden;
		&::after{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($darkColor,.8);
			content: "";
		}
		&_inner{
			position: relative;
			padding: p2v(30);
			color: #fff;
			z-index: 10;
		}
	}
	&_thumb{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		transform: translate(-50%,-50%);
		img{
			width: 100%;
			max-width: none;
		}
	}
	&_ttl{
		width: 100%;
		font-size: fs(32);
	  text-decoration: none;
		line-height: 1.4;
	}
	&_date{
		width: 100%;
	  margin-bottom: 15px;
		font-size: fs(14);
	}
	&_content{
	  margin-top: 15px;
		padding: 0 p2v(30);

		@import "_postContent";

	  .sharedaddy{
	    margin-top: 50px;
	    .sd-title{
				border-left: none;
				padding-left: 0;
	      font-size: fs(18);
				font-family: $enFont;
				&::before{
					display: none;
				}
	    }
	    .sd-content ul li{
	      margin-right: 15px !important;
				vertical-align: bottom;
	    }
			.sd-social-icon .sd-content ul li[class*=share-] a.sd-button.share-custom{
				background-color: #3c7dd1;
			}
			.sd-content ul li.share-custom-{
				a.sd-button.share-custom{
					line-height: 0;
					padding-bottom: 3px;
				}
			}
	  }
	}
}

@media screen and (min-width:780px){
	.post{
	  &_area{
	    margin-bottom: 100px;
	    padding-bottom: 40px;
		  border: 1px solid $mainColor;
			border-radius: 0 0 5px 5px;
	  }

		&_header{
			min-height: 450px;
		}

	  &_ttl{
	    font-size: fs(40);
	  }

	  &_content{
		  margin-top: 30px;
			padding: 0 5%;
		}
	}
}/* @media */
