//top
.kv_home{
	width: 100%;
	overflow: hidden;
	.site_title{
		position: relative;
		width: 100%;
		padding: 30px 0 40px;
		color: $mainColor;
		font-size: fs(56);
		font-family: $ttlFont;
	  text-shadow: 3px 3px 6px rgba(0,0,0,.2);
	  line-height: 1;
		text-align: center;
		z-index: 1;
	}
	.sub_title{
	  display: block;
	  font-size: .4em;
	  font-weight: normal;
	}
}


@media screen and (min-width:780px){
	.kv_home{
		height: 360px;
		.site_title{
			font-size: fs(112);
		}
	}
}
