//実績
.works{
	&__item{
		margin-bottom: p2v(50);
	}
	&__thumb{
		margin-bottom: p2v(40);
	}
	&__ttl{
		margin-bottom: 1em;
		font-size: fs(28);
		line-height: 1.2;
	}
	&__labels{
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
		&-item{
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0.5em;
			border-radius: 5px;
			background-color: $mainColor;
			color: #fff;
			font-size: fs(13);
			line-height: 1;
		}
	}

	&__content{
		@import "_postContent";
		@import "_worksContent";
	}

}

@media screen and (min-width:780px){
	.works{
		&__list{
			display: flex;
			flex-wrap: wrap;
		}
		&__item{
			width: 46%;
			margin-bottom: 50px;
			&:nth-child(odd){
				margin-right: 8%;
			}
		}
		&__thumb{
			margin-bottom: 30px;
		}
		// &__content{

		// }
	}
}
