@use '_config' as *;

/*************reset*********************/
*{
	box-sizing: border-box;
	&::before,&::after{
		box-sizing: border-box;
	}
}

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display:block;
}

a{
	color: inherit;
	word-wrap: break-word;
  text-decoration: none;
}

ul,li,dl,dt,dd{list-style: none;}

img{
	max-width: 100%;
	height: auto;
}
iframe{
	max-width: 100%;
}

button {
  border: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input,textarea{
	outline-color: $mainColor;
}

body,html{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
	color: $textColor;
	// font-size: calc(100vw / 37.5 * 1.4);
	font-family: 'Hind Siliguri',YakuHanJP, "Noto Sans Japanese", sans-serif;
}

// @media screen and (min-width:640px){
// 	html,body{font-size: 16px;}
// }

body{
	letter-spacing: 0.05em;
  line-height: 1.75;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.pc{
	display: none;
}

@media screen and (min-width:780px){
	.pc{
		display: block;
	}
	.sp{
		display: none;
	}
}
