// アクアグレイ
$mainColor: #61a6c6;
$accentColor: #62D390;

$bgColor: rgba(#61a6c6,0.1);
$darkColor: #61a6c6;

$blueGray: #daecf2;
$gray: #ccc;
$black: #333;

$textColor: #36454d;
$linkColor: #3F87AA;
$errColor: #FF7656;


$ttlFont: 'Poppins', sans-serif;
$enFont: 'Poppins', sans-serif;

@function p2v($px){
  @return ($px / 750 * 100vw);
}

@function fs($size){
  @return ($size / 16 * 1rem);
}

//自己紹介
@mixin aboutTitle(){
  position: relative;
		margin-top: 0;
		margin-bottom: 30px;
		padding: 0;
		font-size: fs(24);
		&:first-letter{
			color: $darkColor;
			font-size: 1.5em;
		}
		&::before{
			display: block;
			position: absolute;
			left: 0;
			top: auto;
			bottom: -2px;
			width: 100%;
			background-color: $darkColor;
			content: "";
		}
		&::after{
			display: none;
		}
}

@mixin profileTerm(){
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	padding: .4em 1em .25em .5em;
	background-color: $mainColor;
	border-radius: 5px 5rem 5px 5px;
	color: #fff;
	font-size: fs(18);
	font-weight: bold;
	line-height: 1;
}
@mixin profileDescription(){
	padding-left: 1em;
	padding-bottom: 1.5em;
	font-size: 1rem;
	line-height: 1.3;
	&:last-of-type{
		padding-bottom: 0;
	}
}